[core]
	excludesfile = /home/rolandgolla/.gitignore_global
        autocrlf = input
	editor = vim
    pager = delta
[user]
	email = rolandgolla@gmail.com
	name = Roland
	signingKey = ""
[push]
        default = current
[delta]
    navigate = true  # use n and N to move between diff sections
    light = false 
[interactive]
    diffFilter = delta --color-only        
[init]
	defaultBranch = main
[gpg]
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default   
